<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogging</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />

</head>
<body>
    <h1>All Blog Posts</h1>
    <input type="button" value="+ New Post" onclick="window.location.href='/new'" />
   <table border="1">
       <tr>
           <th>ID</th>
           <th>Title</th>
           <th>Author</th>
           <th>Content</th>
           
       </tr>
       <tr th:each="post : ${listPosts}">
          <td th:text="${post.id}"></td>
           <td th:text="${post.title}"></td>
           <td th:text="${post.author}"></td>
           <td th:text="${post.content}"></td>
          
       </tr>
   </table>
   <div class="editsection">
   <div class="heading">
        <h5>Update and Delete Posts By Id</h5>
   </div>
   <div class="id-input">
        <input type="number" id="postId" name="postId" placeholder="Enter Post ID">
   </div>
   <div class ="edit-delete-buttons">
       <div class="edit">
            <input type="button" value="Edit" onclick="edit(document.getElementById('postId').value)" />
       </div>
       <div class="delete">
            <input type="button" value="Delete" onclick="window.location.href='/delete?id=' + document.getElementById('postId').value" />
       </div>
   </div>
   </div>
    <script>
          function edit(postId) {
                if (postId) {
                 window.location.href = '/edit?id=' + postId;
                } else {
                 alert('Please enter a valid Post ID');
                }
          }
     </script>
</body>
</html>